<div class="name clearfix" style="background-color: rgba(0, 0, 0, 0.2)">
   <h1 style="font-style: italic; padding-left: 100px; margin-top: auto; float: left">MANAGER</h1>
   <button *ngIf="managerloginStatus" (click)="logout()" class="btn btn-danger btn-lg" style="float: right; margin-right: 50px">LOGOUT</button>
</div>
<div *ngIf="viewPage" class="container clearfix">
   <br />
   <div class="container" style="width: 50%; float: left">
      <h1 style="text-align: center">REGISTER</h1>
      <br />
      <form (ngSubmit)="registerManager(id)" #id="ngForm">
         <div class="form-group">
            <label>EMAIL <span>*</span></label>
            <input type="text" class="form-control" name="managerEmail" [(ngModel)]="manager.managerEmail" placeholder="Enter email" required email #email="ngModel" />
            <span class="help-block" *ngIf="!email.valid && email.touched">Please Enter Valid Email</span>
         </div>

         <div class="form-group">
            <label>PASSWORD <span>*</span></label>
            <input type="password" class="form-control" name="managerPassword" [(ngModel)]="manager.managerPassword" placeholder="Enter password" required minlength="5" #pass="ngModel" />
            <span class="help-block" *ngIf="!pass.valid && pass.touched">Minimum Length Should Be 5</span>
         </div>

         <div class="form-group">
            <label>NAME <span>*</span></label>
            <input type="text" class="form-control" name="managerName" [(ngModel)]="manager.managerName" placeholder="Enter name" required #name="ngModel" />
            <span class="help-block" *ngIf="!name.valid && name.touched">Please Enter Your Name</span>
         </div>

         <div class="form-group">
            <label>PINCODE <span>*</span></label>
            <input type="text" class="form-control" name="managerPincode" [(ngModel)]="manager.managerPincode" placeholder="Enter pincode" required #pin="ngModel" />
            <span class="help-block" *ngIf="!pin.valid && pin.touched">Please Enter Your Pincode</span>
         </div>
         <button [disabled]="!id.valid" type="submit" class="btn btn-success btn-lg">REGISTER</button>
         <button type="reset" class="btn btn-info btn-lg" style="margin-left: 10px">RESET</button>
      </form>
   </div>
   <div class="container" style="width: 50%; float: right">
      <h1 style="text-align: center">LOGIN</h1>
      <br />
      <form [formGroup]="loginForm" (ngSubmit)="validateManager()">
         <div class="form-group">
            <label>EMAIL : </label>
            <input type="text" class="form-control" name="managerEmail" required formControlName="managerEmail" placeholder="Enter email" required />
         </div>

         <div class="form-group">
            <label>PASSWORD : </label>
            <input type="password" class="form-control" name="managerPassword" required formControlName="managerPassword" placeholder="Enter password" required />
         </div>
         <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success btn-lg">LOGIN</button>
      </form>
   </div>
</div>
<!-- -------------------------View Complaints------------------------- -->
<br />
<br /><br /><br />
<div *ngIf="viewComplaints" class="container">
   <h1>COMPLAINTS</h1>
   <table class="table table-bordered table-hover table-stripped table-secondary">
      <tbody ng-repeat="complaint in complaints">
         <tr *ngFor="let complaint of complaints">
            <div class="">
               <form (ngSubmit)="engineersDuty(complaint)">
                  <td><label for="ticketId">Ticket Id :</label><input type="text" id="ticketId" name="ticketId" value="{{ complaint.ticketId }}" disabled /></td>

                  <td><label for="customerEmail">Customer Email :</label><input type="text" name="customerEmail" value="{{ complaint.customerEmail }}" id="customerEmail" disabled /></td>

                  <td><label for="complaint">Complaint :</label><input type="text" name="complaint" value="{{ complaint.complaint }}" id="complaint" disabled /></td>

                  <td><label for="pincode">Pincode :</label><input type="text" name="pincode" value="{{ complaint.pincode }}" id="pincode" disabled /></td>

                  <td><label for="status">Status :</label><input type="text" name="status" value="{{ complaint.status }}" id="status" disabled /></td>

                  <td>
                     <button *ngIf="assignEngineersButton" (click)="assignEngineers()" class="btn btn-danger">ASSIGN ENGINEER</button>

                     <select *ngIf="assignEngineersDropdown" (change)="engineerSelected($event)">
                        <option>&#60;---Select Engineer---&#62;</option>
                        <option *ngFor="let mail of engineerEmails" value="{{ mail }}">{{ mail }}</option>
                     </select>
                  </td>
                  <td><button type="submit" class="btn btn-primary">SUBMIT</button></td>
               </form>
            </div>
         </tr>
      </tbody>
   </table>
</div>
<br />
<br /><br /><br />
<!-- -------------------view Feedbacks------------------------ -->
<div class="container">
   <div *ngIf="viewFeedbacks">
      <h1>FEEDBACKS</h1>
      <table class="table table-bordered table-stripped table-hover table-secondary">
         <thead class="thead-dark">
            <tr>
               <th style="padding-right: 5px">Feedback Id</th>
               <th style="padding-right: 5px">Ticket Id</th>
               <th style="padding-right: 5px">Customer Email</th>
               <th style="padding-right: 5px">Feedback</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let feedback of feedbacks">
               <td style="padding-right: 5px" scope="row">{{ feedback.feedbackId }}</td>
               <td style="padding-right: 5px">{{ feedback.ticketId }}</td>
               <td style="padding-right: 5px">{{ feedback.customerEmail }}</td>
               <td style="padding-right: 5px">{{ feedback.feedback }}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
