<div class="about-section">
   <h1 style="font-size: xx-large; font-weight: bolder">ABOUT US</h1>
   <br />
   <b><h4>Grievance Redressal System is an online platform to receive and act on complaints regarding landlines and broadband reported by customers</h4></b>
   <b><h4>enabling prompt actions on any issue raised by them and to avail services more effectively..</h4></b>
</div>
<br />
<div class="container">
   <h1 style="text-align: center; font-weight: bolder; font-size: x-large">OUR TEAM</h1>
   <div class="row">
      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Shinde Nikita N.</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b><p>Nikita@gmail.com</p></b>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Shreya K.S</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b><p>Shreya@gmail.com</p></b>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Sparsha Gowda</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b> <p>Sparsha@gmail.com</p></b>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Tanmay Ajeet Kumar</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b> <p>Tanmay@gmail.com</p></b>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Tariq Mohammed Sarfaraz</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b> <p>Tariq@gmail.com</p></b>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Umme Hani R</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b><p>Umme @gmail.com</p></b>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Vemula Poornima</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b> <p>Poornima@gmail.com</p></b>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Vishwanath Mangond</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b> <p>Vishwanath@gmail.com</p></b>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Yakkanti Chinnapareddy</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b> <p>Yakkanti@gmail.com</p></b>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="container" id="card">
               <h2>Yerasi Gopinatha Reddy</h2>
               <strong> <p class="title">Trainee</p></strong>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <b><p>Yerasi@gmail.com</p></b>
            </div>
         </div>
      </div>
   </div>
</div>
