<div class="name" style="background-color: rgba(0, 0, 0, 0.178); padding-bottom: 30px; margin-top: auto; color: rgba(0, 0, 0, 0.708)">
   <h1 style="font-style: italic; font-weight: bold; text-align: center"><br />WELCOME TO <br />COMPLAINT REDRESSAL SYSTEM<br /></h1>
</div>
<div class="clearfix" style="width: 90%; margin: 10px auto">
   <div class="container clearfix" style="width: 50%; float: left">
      <marquee class="clearfix" scrollAmount="15" hspace="0" vspace="0" direction="up" style="height: 460px; margin: auto">
         <img src="../../../assets/1.jpg" style="width: 70%; height: 200px" alt="" />
         <img src="../../../assets/2.webp" style="width: 70%; height: 200px" alt="" />
         <img src="../../../assets/3.webp" style="width: 70%; height: 200px" alt="" />
         <img src="../../../assets/4.jpg" style="width: 70%; height: 200px" alt="" />
      </marquee>
   </div>
   <div style="float: right; width: 50%; height: 465px">
      <img src="../assets/images.jpg" class="feature-img" />
   </div>
</div>
